/* ProfilePage.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .profile-container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
/* ProfilePage.css */
.profile-container h1 {
    text-align: center;
    color: black; /* Profile page header color */
}

  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .profile-item {
    margin-bottom: 15px;
  }
  
  .profile-item label {
    display: block;
    font-weight: bold;
  }
  
  .profile-item span, .profile-item input, .profile-item textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .profile-item input,
  .profile-item textarea {
    background-color: #f9f9f9;
  }
  
  .edit-btn, .save-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .edit-btn:hover, .save-btn:hover {
    background-color: #45a049;
  }
  
  .save-btn {
    background-color: #2196F3;
  }
  
  .save-btn:hover {
    background-color: #0b7dda;
  }
  
  textarea {
    resize: vertical;
  }
  